@page
@using JobSeeking.Models
@inject SignInManager<ApplicationUser> SignInManager
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webleb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <form method="post" class="form">
            <h1 class="title">Login</h1>
            <div class="inp">
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input asp-for="Input.Password" class="input" autocomplete="current-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <button id="login-submit" type="submit" class="submit">Log in</button>
            <p class="footer"> <a asp-page="./Register" class="link">Create new account</a></p>
            <p class="footer"> <a id="forgot-password" asp-page="./ForgotPassword" class="link">Forgot password</a></p>
        </form>
        <div class="banner">
            <h1 class="wel_text">JobSeeking</h1><br>
        </div>
    </div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}