@page
@using JobSeeking.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
</head>
<body>
    <div class="login-box">
        <h2>Create a new account</h2>
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="user-box">
                        <label asp-for="Input.Email" >Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="user-box">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="user-box">
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="user-box">
                        <label asp-for="Input.Name">Name</label>
                        <input asp-for="Input.Name" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Name" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="user-box">
                        <label asp-for="Input.Address">Address</label>
                        <input asp-for="Input.Address" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Address" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="user-box">
                        <label asp-for="Input.City">City</label>
                        <input asp-for="Input.City" class="form-control" autocomplete="new-password" aria-required="true" placeholder="City" />
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="user-box">
                        <label>Avatar</label>
                        <input type="file" name="file" class="form-control">
                    </div>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
        </form>
        <p class="message">Already registered? <a asp-area="Identity" asp-page="/Account/Login">Sign In</a></p>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/main.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
