<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/IndexHome.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="card">
            <img  class="background" src="~/images/indexhome/job-evaluation-bia-mơi-linkpower.jpg" /> 
            <div class="card-content">
                <svg>...</svg>
                <h3 class="title">About Us</h3>
            </div>
            <div class="backdrop"> </div>
        </div>
        <div class="card">
            <img class="background" src="~/images/indexhome/contactus_tcm128-6317963_tcm128-6286607-32.jpg"  /> 
            <div class="card-content">
                <svg>...</svg>
                <h3 class="title">Contact Us</h3> 
            </div>
            <div class="backdrop"> </div>
        </div>
    </div>
</body>
</html>
