<link href="~/css/createcv.css" rel="stylesheet" />
@using JobSeeking.Models.ViewModels
@model JobSeekingVM
<h1>Apply for Job</h1>
<form method="post" enctype="multipart/form-data">
    <input hidden asp-for="applyCV.JobId" />
    <div class="form-group">
        <label asp-for="applyCV.Description" class="control-label">Description:</label>
        <textarea asp-for="applyCV.Description" class="form-control"></textarea>
        <span asp-validation-for="applyCV.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="applyCV.CV">CV (PDF only):</label>
        <input type="file" name="file" class="form-control" />
        <span asp-validation-for="applyCV.CV" class="text-danger"></span>
    </div>
    <div class="button-section">
        <button type="submit">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Create
            </span>
        </button>
        <button class="button" asp-area="JobSeeker" asp-controller="ApplyCV" asp-action="Index">
            <div class="button-box">
                <span class="button-elem">
                    <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                    </svg>
                </span>
                <span class="button-elem">
                    <svg viewBox="0 0 46 40">
                        <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                    </svg>
                </span>
            </div>
        </button>
    </div>
</form>
