.card-container {
    margin-left: 220px;
    display: inline-block;
}
.card {
    width: 230px;
    height: 280px;
    border-radius: 2em;
    background-color: #d0b08b;
    box-shadow: 5px 5px 30px rgb(4, 4, 4), -5px -5px 30px rgb(57, 57, 57);
    margin-right: 50px;
    display: inline-block;
    width: 230px;
}

.profileimage {
    background-color: transparent;
    border: none;
    margin-top: 20px;
    border-radius: 5em;
    width: 100px;
    height: 100px;
}

.pfp {
    border-radius: 35em;
    fill: white;
    width: 110%;
    height: 110%;
}

.Name {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
   
}

.socialbar {
    background-color: #191919;
    border-radius: 3em;
    width: 90%;
    padding: 14px;
    margin-top: 15px;
    color: white;
    box-shadow: 3px 3px 15px rgb(0, 0, 0), -3px -3px 15px rgb(58, 58, 58);
}

.card a {
    transition: 0.4s;
    color: white;
}

#github:hover {
    color: #c9510c;
}

#instagram:hover {
    color: #d62976;
}

#facebook:hover {
    color: #3b5998;
}

#twitter:hover {
    color: #00acee;
}
.skill-box {
    width: 200px;
}

.title {
    font: 14px/1.2 sans-serif;
    color: #333;
}

.skill-bar {
    height: 8px;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
    margin-right:20px;
}

.skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #000;
    animation: progress 0.4s forwards;
    opacity: 0;
    margin-bottom:0px;
}

    .skill-per.html {
        width: 80%;
        animation-delay: .3s;
    }

    .skill-per.css {
        width: 60%;
        animation-delay: .3s;
    }

    .skill-per.javascript {
        width: 70%;
        animation-delay: .2s;
    }

    .skill-per.nodejs {
        width: 80%;
        animation-delay: .3s;
    }

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font: 9px/1.4 sans-serif;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #000;
    z-index: 1;
}

    .tooltip::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -2px;
        height: 10px;
        width: 10px;
        z-index: -1;
        background: #000;
        transform: translateX(-50%) rotate(45deg);
    }


.Introduction p {
     width: 100%;
     margin-left:30px;
    }

.skill {
    display: inline-flex; 
}