﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] JobSeeking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobSeeking.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <section class="loader">

        <div class="slider" style="--i:0">
        </div>
        <div class="slider" style="--i:1">
        </div>
        <div class="slider" style="--i:2">
        </div>
        <div class="slider" style="--i:3">
        </div>
        <div class="slider" style="--i:4">
        </div>
    </section>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="JobSeeker" asp-controller="Home" asp-action="Index"> <i class="bi bi-eyeglasses"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        </li>
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                        {
                            <li class="nav-item">
                                <a class="nav-link active " asp-area="Admin" asp-controller="Account" asp-action="Index">View User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active " asp-area="Admin" asp-controller="ResponeCategory" asp-action="Index">Request Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active " asp-area="Admin" asp-controller="News" asp-action="Index">News</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("Employer")))
                        {
                            <li class="nav-item">
                                <a class="nav-link active " asp-area="Employer" asp-controller="Category" asp-action="Index">Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active " asp-area="Employer" asp-controller="Job" asp-action="Index">Your Job</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("JobSeeker")))
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="JobSeeker" asp-controller="ApplyCV" asp-action="Index">Job</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.form-select').select2();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.loader').hide();

            $(document).on('click', 'a', function () {
                $('.loader').show();
            });
            $(window).on('load', function () {
                $('.loader').hide();
            });
        });
    </script>
</body>

</html>