@model List<Category>
    <h1>All Categories are waitting to respond </h1>
    <div class="row">
        @foreach (var obj in Model)
        {
            @if (obj.isValid == false)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>  Name: @obj.Name</h5>
                        </div>
                        <div class="card-body">
                            <h5>
                                Valid:@obj.isValid
                            </h5>
                            <h5>
                                Time Create: @obj.CreateDay
                            </h5>
                            <h5>
                                Email:@obj.User.Email
                            </h5>
                        </div>
                        <div class="card-footer">
                        <a asp-area="Admin" asp-controller="ResponeCategory" asp-action="Accept" asp-route-Id="@obj.Id" class="btn btn-primary"
                           onclick="return confirm('Are you want to accept user:@obj.Name')">Accept</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>